<div
  class="w-full h-full bg-gradient-to-br from-sky-50 to-cyan-100 dark:from-slate-800 dark:to-gray-900 flex justify-center items-center"
>
  <form
    [formGroup]="recoverPasswordForm"
    method="post"
    class="rounded-lg flex flex-col p-6 space-y-4 bg-white dark:bg-gray-900 max-w-2xl w-full mx-6 shadow-lg"
  >
    <div class="flex flex-col justify-center items-center">
      <div
        class="bg-cyan-600 p-1 rounded-full text-white aspect-square flex justify-center items-center"
      >
        <i class="bi bi-activity text-5xl font-bold"></i>
      </div>
      <h1 class="text-2xl font-bold text-cyan-600 dark:text-gray-100">
        Recuperar Contraseña
      </h1>
      <small class="text-gray-500"
        >Ingresa tu DNI para poder recuperar tu contraseña</small
      >
    </div>
    <label class="flex flex-col space-y-2">
      <span class="font-bold text-gray-900 dark:text-gray-100">DNI</span>
      <div class="w-full flex items-center">
        <input
          id="name"
          type="text"
          name="dni"
          formControlName="dni"
          class="w-full p-2 border border-gray-300 rounded-l-lg outline-cyan-600 bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100"
          placeholder="12345678"
          inputmode="numeric"
          pattern="[0-9]*"
          (input)="dniInput($event)"
          maxlength="8"
        />
        <button
          class="p-2 bg-cyan-600 text-white rounded-r-lg cursor-pointer"
          type="button"
          (click)="getCodeVerification()"
        >
          <i class="bi bi-send-check"></i>
        </button>
      </div>
      @if (recoverPasswordForm.get('dni')?.invalid &&
      recoverPasswordForm.get('dni')?.touched) { @if
      (recoverPasswordForm.get('dni')?.errors?.['required']) {
      <span class="text-red-500">DNI es requerido</span>
      } @if (recoverPasswordForm.get('dni')?.errors?.['pattern']) {
      <span class="text-red-500">DNI debe ser un número</span>
      } @if (recoverPasswordForm.get('dni')?.errors?.['minlength']) {
      <span class="text-red-500">DNI debe tener 8 caracteres</span>
      } }
    </label>
    <label class="flex flex-col space-y-2">
      <span class="font-bold text-gray-900 dark:text-gray-100"
        >Código de Verificación</span
      >
      <div class="w-full flex items-center">
        <input
          id="codeVerification"
          type="text"
          name="codeVerification"
          formControlName="codeVerification"
          class="w-full p-2 border border-gray-300 rounded-l-lg outline-cyan-600 bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100"
          placeholder="123456"
          inputmode="numeric"
          maxlength="6"
          pattern="[0-9]*"
          (input)="codeVerificationInput($event)"
        />
        <button
          class="p-2 bg-cyan-600 text-white active:bg-cyan-600 active:text-white rounded-r-lg cursor-pointer disabled:cursor-not-allowed disabled:bg-gray-700 disabled:text-gray-300 dark:disabled:bg-gray-300 dark:disabled:text-gray-900"
          type="button"
          (click)="codeVerification()"
          [disabled]="isCodeSent"
        >
          <i class="bi bi-send-check"></i>
        </button>
      </div>
      @if (recoverPasswordForm.get('codeVerification')?.invalid &&
      recoverPasswordForm.get('codeVerification')?.touched) { @if
      (recoverPasswordForm.get('codeVerification')?.errors?.['required']) {
      <span class="text-red-500">Código de Verificación es requerido</span>
      } @if (recoverPasswordForm.get('codeVerification')?.errors?.['pattern'] &&
      !recoverPasswordForm.get('codeVerification')?.errors?.['minlength']) {
      <span class="text-red-500"
        >Código de Verificación debe ser un número</span
      >
      } @if (recoverPasswordForm.get('codeVerification')?.errors?.['minlength'])
      {
      <span class="text-red-500"
        >Código de Verificación debe tener 6 caracteres</span
      >
      } }
    </label>
    <label class="flex flex-col space-y-2">
      <span class="font-bold text-gray-900 dark:text-gray-100"
        >Nueva Contraseña</span
      >
      <input
        id="password"
        type="password"
        name="password"
        formControlName="password"
        class="w-full p-2 border border-gray-300 rounded-lg outline-cyan-600 bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100"
        placeholder="********"
        [disabled]="isCodeVerified"
      />
      @if (recoverPasswordForm.get('password')?.invalid &&
      recoverPasswordForm.get('password')?.touched) { @if
      (recoverPasswordForm.get('password')?.errors?.['required']) {
      <span class="text-red-500">Contraseña es requerida</span>
      } @if (recoverPasswordForm.get('password')?.errors?.['minlength']) {
      <span class="text-red-500">Contraseña debe tener 8 caracteres</span>
      } }
    </label>
    <label class="flex flex-col space-y-2">
      <span class="font-bold text-gray-900 dark:text-gray-100"
        >Confirmar Contraseña</span
      >
      <input
        id="confirmPassword"
        type="password"
        name="confirmPassword"
        formControlName="confirmPassword"
        class="w-full p-2 border border-gray-300 rounded-lg outline-cyan-600 bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100"
        placeholder="********"
        [disabled]="isCodeVerified"
      />
      @if (recoverPasswordForm.get('confirmPassword')?.invalid &&
      recoverPasswordForm.get('confirmPassword')?.touched) { @if
      (recoverPasswordForm.get('confirmPassword')?.errors?.['required']) {
      <span class="text-red-500">Confirmar Contraseña es requerida</span>
      } @if (recoverPasswordForm.get('confirmPassword')?.errors?.['minlength'])
      {
      <span class="text-red-500"
        >Confirmar Contraseña debe tener 8 caracteres</span
      >
      } @if (recoverPasswordForm.get('confirmPassword')?.errors?.['notEqual']) {
      <span class="text-red-500">Las contraseñas no coinciden</span>
      } }
    </label>
    <button
      class="bg-cyan-600 text-white p-2 rounded-lg"
      type="submit"
      (click)="recoverPassword()"
    >
      Recuperar Contraseña
    </button>
    <a class="w-full text-cyan-600 dark:text-gray-100 flex justify-center items-center gap-2" href="login">
      <i class="bi bi-arrow-left"></i>
      Volver al Inicio de Sesión
    </a>
  </form>
</div>
